{{ define "content_inner" }}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{{ if not (isset .Params "caption-ignore") }}
	  		<span class="govuk-caption-xl">{{ if (isset .Params "caption") }}{{.Params.caption}}{{ else }}{{ .Section | humanize }}{{ end }}</span>
	  		{{ end }}
    		<h1 class="govuk-heading-xl">
    	  	{{ .Title }}
    		</h1>
		</div>
	</div>

  {{ if eq .Params.hasContent true }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third markdown-output contents-section">
      {{ with .Resources.GetMatch "_contents.md" -}}
        {{ .Content }}
      {{ end }}
    </div>
    <div class="govuk-grid-column-two-thirds markdown-output has-side-contents">
      {{ .Content }}
    </div>
  </div>
  {{ else }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds markdown-output">
      {{ .Content }}
    </div>
  </div>
  {{ end }}

  {{ if (isset .Params "tags") }}
	<h2 class="govuk-heading-l">Tags</h2>
	<ul>
    {{ range .Params.tags }}
		<li><a href="{{ .Permalink }}">{{ .name }}</a></li>
    {{ end }}
	</ul>
  {{ end }}

{{ end }}
