{{ define "content_inner" }}

  {{ if isset .Params "cat_name" }}
      <span class="govuk-caption-xl">{{ .Params.cat_name | humanize }}</span>
  {{ end }}

	<h1 class="govuk-heading-xl">{{ .Title }}</h1>
  <div class="govuk-body-l">{{ .Content }}</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

      <ul class="govuk-list">
        {{ $needs := (where .Site.Pages "Section" "needs")  }}
        {{ range .Data.Pages }}
        {{ $userType := .Params.abbr }}
          <li>
            <a href="{{ .Permalink }}" class="govuk-link govuk-body-l">{{ $userType }}</a>
            <p class="govuk-body">{{ .Summary }}</p>
          </li>
        {{ end }}
      </ul>

		</div>
	</div>

{{ end }}
