__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
.venv
.cache

*.swp

tmp/

# ignore local packages
*.egg-info/

# ignore intermediate files
var/

# ignore updated specification files
specification/
