{{ define "content_inner" }}
<main id="content" class="govuk-width-container" role="main">

	{{ partial "breadcrumbs.html" . }}

  <span class="govuk-caption-xl">Project</span>
	<h1 class="govuk-heading-xl">
	  {{ .Title }}
	</h1>

	<dl class="definition-inline project-meta-data">
		<dt>Website</dt>
		<dd><a href="{{ .Params.project_url }}">{{ .Params.project_url }}</a></dd>
	</dl>

	<div class="markdown-output">
		{{ .Content }}
	</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		{{ with .Resources.ByType "image" }}
		  <div class="Gallery">
		    {{ range . }}
		     	<img src="{{ .RelPermalink }}" />
		    {{ end }}
		  </div>
		{{ end }}
	</div>

	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-m govuk-heading-flush">Related patterns</h3>
		{{ with .Params.patterns }}
		<ul class="govuk-list">
			{{ range . }}
			<li class="tag"><a href="{{ "portfolio/pattern" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
</div>

<div class="govuk-grid-row">
{{ if isset .Params "datasets"}}
	<!-- need to check datasets array length > 0 -->
	{{ if gt (len .Params.datasets) 0 }}
	<div class="govuk-grid-column-two-thirds">
		<h3 class="govuk-heading-m">Data used</h3>
		<table>
			<thead>
				<tr>
					<th scope=col>Dataset</th>
					<th scope=col>Quality</th>
				</tr>
			</thead>
			<tbody>
				{{ range .Params.datasets }}
				<tr>
					<th scope="row">{{ . }}</th>
					<td>?</td>
				</tr>
				{{ end }}
			</tbody>
		</table>
	</div>
	{{ end }}
{{ end }}

	<div class="govuk-grid-column-two-thirds">
	{{ with .Resources.ByType "page" }}
		{{ range . }}
		<h3 class="govuk-heading-m">{{ .Title }}</h3>
		{{ .Content }}
		{{ end }}
	{{ end }}
	</div>
</div>

</main>
{{ end }}