{{ define "content_inner" }}
<main id="content" role="main">

	{{ partial "breadcrumbs.html" . }}

	<h1 class="heading-xlarge">
	  <span class="heading-secondary">{{ .Section | humanize }}</span>
	  {{ .Title }}
	</h1>

	<dl class="definition-inline project-meta-data">
		<dt>Website</dt>
		<dd><a href="{{ .Params.project_url }}">{{ .Params.project_url }}</a></dd>
	</dl>

	<div class="text">
		{{ .Content }}
	</div>

<div class="grid-row">
	<div class="column-two-thirds">
		{{ with .Resources.ByType "image" }}
		  <div class="Gallery">
		    {{ range . }}
		     	<img src="{{ .RelPermalink }}" />
		    {{ end }}
		  </div>
		{{ end }}
	</div>

	<div class="column-one-third">
		<h3 class="heading-medium heading-flush">Associated patterns</h3>
		{{ with .Params.patterns }}
		<ul>
			{{ range . }}
			<li class="tag"><a href="{{ "pattern" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
</div>

</main>
{{ end }}