// Fixes to GOVUK design system
// when using Helvetica instead of NTA font

$using-helvetica: true;

* {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

// required if using helvetica, not NTA
@if $using-helvetica == true {

  .govuk-warning-text__icon {
    line-height: 26px;
  }

  .govuk-button--start {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .govuk-tag {
    padding: 5px 8px 4px;
  }
}
