<!-- Cookie banner partial version 1.0.1 -->
<div id="global-cookie-message" class="govuk-clearfix global-cookie-message" data-module="cookie-banner" role="region" aria-label="cookie banner" data-nosnippet="">

  <div id="cookie-banner" class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="cookie-banner__message govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">Tell us whether you accept cookies</h2>
          <p class="govuk-body">We use <a class="govuk-link" href="/cookies">cookies to collect information</a> about how you use the Digital Land website to make the website work as well as possible.</p>
        </div>
        <div class="cooke-banner__buttons govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <button class="govuk-button" onclick="acceptCookies();showCookieConfirmation();">Accept all cookies</button>
          </div>
          <div class="govuk-grid-column-one-half">
            <a class="govuk-button"href="/cookies">Set cookie preferences</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cookie-confirmation" class="govuk-width-container govuk-!-padding-top-6" tabindex="-1" style="display: none;">
    <p class="cookie-banner__confirmation-message govuk-body">You’ve accepted all cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
    <button class="cookie-banner__hide-button govuk-button govuk-button--secondary" onclick="document.getElementById('cookie-confirmation').style.display='none';">Hide</button>
  </div>

</div>
