<header role="banner" id="global-header" class="govuk-header  with-proposition dl-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="header-proposition">
        <div class="govuk-header__content">
          <a href="https://digital-land.github.io/" class="govuk-header__link govuk-header__link--service-name">
          Digital Land
          </a>
          <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
  
          <nav>
            <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/about">Team</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/project/">Projects</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/weeknote/">Weeknotes</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/blog-post/">Blog</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/guidance/">Guidance</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/dataset/">Datasets</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/organisation/">Organisations</a>
              </li>
              <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/map/">Map</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
</header>
  