{{ define "content_inner" }}

  {{ if isset .Params "cat_name" }}
  <span class="govuk-caption-xl">{{ .Params.cat_name | humanize }}</span>
  {{ end }}
	<h1 class="govuk-heading-xl">
	  {{ .Title }}
	</h1>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body-l">{{ .Params.lede }}</p>
      		<div class="markdown-output">
            {{ .Content }}
            </div>

            <!-- section for cookie options HTML -->
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <h3 class="govuk-heading-l">Change your cookie options</h3>

            <form id="cookie-form" class="govuk-form" onsubmit="return false;">
                <fieldset class="govuk-fieldset" aria-describedby="cookie-ga-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that measure website use</legend>
                    <div id="cookie-ga-hint" class="govuk-!-margin-bottom-3">
                        <p class="govuk-body">We use Google Analytics to measure how you use the website so we can improve it based on user needs.
                        We do not allow Google to use or share the data about how you use this site.</p>
                        <p class="govuk-body">Google Analytics sets cookies that store anonymised information about:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>how you got to the site</li>
                            <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                            <li>what you click on while you're visiting the site</li>
                        </ul>
                    </div>
                    <div class="govuk-form-group govuk-radios">
                        <div class="govuk-radios__item" data-children-count="1">
                            <input type="radio" name="cookies-usage" id="radio-ga-on" value="on" class="govuk-radios__input">
                            <label for="radio-ga-on" class="govuk-label govuk-radios__label">Use cookies that measure my website use</label>
                        </div>
                        <div class="govuk-radios__item" data-children-count="1">
                            <input type="radio" name="cookies-usage" id="radio-ga-off" value="off" class="govuk-radios__input">
                            <label for="radio-ga-off" class="govuk-label govuk-radios__label">Do not use cookies that measure my website use</label>
                        </div>
                    </div>
                </fieldset>

                <button class="govuk-button" type="submit" onclick="saveCookiePrefs();">Save changes</button>
            </form>

		</div>
	</div>

{{ end }}

{{ define "body_end" }}
<script src="/javascripts/dl-cookies.js"></script>
<script language="javascript">
    function saveCookiePrefs() {
        console.log("hi i'm saving cookie prefs")
        if (document.getElementById("radio-ga-on").checked) {
            acceptCookies()
        } else {
            declineCookies()
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        var cookiesPolicy = JSON.parse(getCookie("cookies_policy"))
        if (cookiesPolicy != null) {
            if (cookiesPolicy.usage) {
                document.getElementById("radio-ga-on").checked = true
            } else {
                document.getElementById("radio-ga-off").checked = true
            }
            console.log("set radio button")
        }

        console.log(cookiesPolicy)
    });
</script>
{{ end }}
