blockquote {
  @include govuk-font($size: 19);
  max-width: 29em;
  margin: 0;
  padding: 10px $govuk-gutter-half 10px 2px;
  //@include govuk-responsive-padding(4, "left");
  border: 0;
  background: govuk-colour("light-grey");

  p {
    @include govuk-responsive-padding(3, "left");

    @include govuk-media-query($from: tablet) {
      @include govuk-responsive-padding(4, "left");
    }
  }

  & p:before {
    content: "\201C";
    margin-left: -$govuk-gutter-half;
    float: left;
    clear: both;
    @include govuk-font($size: 27);
  }

  p:last-child {
    margin-bottom: 0;
  }

  & p:last-child:after {
    content: "\201D";
  }

  @include govuk-media-query($from: desktop) {
    margin: 0;
    padding-left: 5px;
  }
}
