// An inline definition list 
// 
// For example:
// - name:value pairs
//
// ===================
/* dl */.definition-inline {
  @include govuk-clearfix;
  dt {
    float: left;
    margin-right: 5px;
    &:after {
      content: ':';
    }
  }
  dd {
    float: left;
    //font-weight: bold;
    //margin-right: $gutter-half;
    @include govuk-responsive-margin(3, "left");
  }
}