// An inline definition list 
// 
// For example:
// - name:value pairs
//
// ===================

// use with <dl> element
.definition-inline {
  @include govuk-clearfix;

  dt {
    margin-right: 5px;
    float: left;

    &:after {
      content: ":";
    }
  }

  dd {
    float: left;
    @include govuk-responsive-margin(3, "left");
  }
}
