// Hero banner
//
// Creates blue banner at top of gov.uk page
// useful for front pages of service/site
//
// ===================

.with-hero {
  #global-header-bar { // sass-lint:disable-line no-ids
    display: none;
  }

  .govuk-phase-banner {
    border-bottom: 0;
  }
}

.hero {
  color: $govuk-body-background-colour;
  background: govuk-colour("blue");

  @include govuk-media-query($from: tablet) {
    margin: 0 (0 - $govuk-gutter-half);
    margin-bottom: $govuk-gutter;
  }
}

.hero__content {
  max-width: $govuk-page-width;
  padding: 25px $govuk-gutter-half 15px;

  @include govuk-media-query($from: tablet) {
    padding: 40px $govuk-gutter-half 30px;
  }

  .govuk-heading-xl,
  .govuk-heading-l,
  .govuk-body-l,
  a {
    color: $govuk-body-background-colour;
  }

  a:hover {
    color: govuk-colour("grey-3");
  }
}
