.dlf-pagination {
  display: block;
  margin-top: $govuk-gutter;
  margin-right: -$govuk-gutter-half;
  margin-bottom: $govuk-gutter;
  margin-left: -$govuk-gutter-half;
}

.dlf-pagination__list {
  margin: 0;
  padding: 0;
}

.dlf-pagination__item {
  @include govuk-font($size: 16, $line-height: (20 / 16));
  list-style: none;
}

.dlf-pagination__link {
  @extend %govuk-link;
  display: block;
  padding: $govuk-gutter-half;
  text-decoration: none;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: $govuk-link-colour;
  }

  &:hover,
  &:active {
    background-color: govuk-colour("grey-4");
  }
}

.dlf-pagination__link-title {
  display: block;
}

.dlf-pagination__link-divider {
  @include govuk-visually-hidden;
}

.dlf-pagination__link-text {
  @include govuk-font($size: 19, $weight: bold);
  margin-left: $govuk-gutter / 3;
}

.dlf-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  width: .63em;
  height: .482em;
  margin-bottom: 1px;
}

.dlf-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: $govuk-gutter;
  text-decoration: underline;

  @include govuk-media-query($until: tablet) {
    margin-left: $govuk-gutter-half + 9;
  }
}

// Required for hugo build
.markdown-output .dlf-pagination__list {
  padding-left: 0 !important;
}
