.prototype-summary-item {
  margin-bottom: $govuk-gutter-half;
  padding-top: 10px;
  border-top: 1px solid govuk-colour("light-grey");

  &--inprogress {
    border-color: govuk-colour("turquoise");
  }

  &--later {
    border-color: govuk-colour("light-blue");
  }

  .prototype-heading {
    margin-bottom: 5px;

    a {
      color: $govuk-text-colour;
    }
  }
}

.prototype-progress-flag {
  font-weight: 700;
  text-transform: uppercase;
}

.in-progress-flag {
  color: govuk-colour("turquoise");

  &--inverse {
    padding: 3px 5px 0;
    color: govuk-colour("white");
    background: govuk-colour("turquoise");
    @if $using-helvetica == true {
      padding: 3px 5px 2px;
    }
  }
}

.prototype-later-flag {
  font-weight: 700;
  text-transform: uppercase;
}

.later-flag {
  color: govuk-colour("light-blue");

  &--inverse {
    padding: 3px 5px 0;
    color: govuk-colour("white");
    background: govuk-colour("light-blue");
    @if $using-helvetica == true {
      padding: 3px 5px 2px;
    }
  }
}
