// Tag variations
// --------------

.govuk-tag--error {
  background-color: govuk-colour("red");
}

.govuk-tag--warning {
  background-color: govuk-colour("yellow");
}

// dl Tag
// --------------
.dl-tag {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  background: govuk-colour("grey-3");
  font-weight: 600;
  white-space: nowrap;
}
