{{ define "body_classes" }}with-hero{{ end }}

{{ define "content" }}

	<header class="hero">
		<div class="hero_content govuk-width-container">
			<h1 class="govuk-heading-xl hero-heading">{{ .Title }}</h1>
			{{ .Content }}
		</div>
	</header>

	<main id="content" class="govuk-main-wrapper" role="main">

    <div class="govuk-width-container index-section">

      <h3 class="govuk-heading-l">Resources</h3>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/overview">Overview</a>
              <span class="govuk-caption-m">A brief summary of the challenges of improving land and housing data quality and our hypotheses.</span></li>
            <li><a href="/users">Users</a>
              <span class="govuk-caption-m">The groups of users the team has identified for digital land services.</span></li>
            <li><a href="/project">Projects</a>
              <span class="govuk-caption-m">These are the current areas the Digital Land team is focusing on in an effort to improve land and housing data.</span></li>
            <li><a href="/prototype">Prototypes</a>
               <span class="govuk-caption-m">Experimental tools and resources to test the hypotheses we have on how data can be improved for our users.</span></li>
            <li><a href="/glossary">Glossary</a>
               <span class="govuk-caption-m">Definitions for frequently used terms in housing and planning.</span></li>
            <li><a href="/guidance">Guidance</a>
               <span class="govuk-caption-m">Guidance on how to comply with data requirements, mapping data, data definitions and specifications.</span></li>
            <li><a href="/event">Events</a>
               <span class="govuk-caption-m">Conferences, show and tells and other events attended by the team.</span></li>
            <li><a href="/blog-post">Blog posts</a>
               <span class="govuk-caption-m">Blog posts posted by the team.</span></li>
          </ul>
        </div>
      </div>

    </div>
	</main>

{{ end }}

