{{ define "body_classes" }}with-hero{{ end }}

{{ define "content" }}

	<header class="hero">
		<div class="hero_content govuk-width-container">
			<h1 class="govuk-heading-xl hero-heading">{{ .Title }}</h1>
			{{ .Content }}
		</div>
	</header>

	<main id="content" class="govuk-main-wrapper" role="main">

    <div class="govuk-width-container">

  		<h3 class="govuk-heading-m">Sections</h3>
  		<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/friction">Points of friction</a>
              <span class="govuk-caption-m">Issues users have with finding, making and using housing and planning data</span>
              </li>
            <li><a href="/portfolio">Portfolio</a>
               <span class="govuk-caption-m">A collection of external projects demonstrating ways people use housing data</span>
              </li>
            </li>
            <li><a href="/glossary">Glossary</a>
               <span class="govuk-caption-m">Definitions for frequently used terms in housing and planning</span>
             </li>
            <li><a href="/prototype">Prototypes</a>
               <span class="govuk-caption-m">Proposed prototypes and high level findings from our initial investigations 
               </span>
            </li>
            <li><a href="/users">Users</a>
               <span class="govuk-caption-m">Users who play a role in the design, creation and usage of land and housing data
               </span>
            </li>
            <li><a href="/needs">Needs</a>
               <span class="govuk-caption-m">User needs that we've identified during discovery and alpha
               </span>
            </li>
          </ul>
        </div>
  		</div>

    </div>
	</main>

{{ end }}
		