<article class="blog-post blog-post-preview">
  <header>
    <h2 class="govuk-heading-l">
        <a class="govuk-link" href="{{ if isset .Params "external_url" }}{{ .Params.external_url }}{{ else }}{{ .URL }}{{ end }}">{{ .Title }}</a>
    </h2>
    <p class="byline author vcard">
        <span class="govuk-visually-hidden">Posted by:</span>
        <span class="author url fn" rel="author">{{ .Params.author }}</span>,
        <span class="govuk-visually-hidden">Posted on:</span>
        <time class="updated" datetime="{{ .Date }}" pubdate="">{{ .Date.Format "2 January 2006" }}</time>
        {{ partial "byline-related.html" . }}
    </p>
  </header>
  <div class="markdown-output entry-summary">
    <p>{{ default .Summary .Description }}</p>
  </div>
  <footer class="entry-footer">
    <ul class="govuk-list">
        <li>
        <a class="govuk-link read-more" href="{{ if isset .Params "external_url" }}{{ .Params.external_url }}{{ else }}{{ .URL }}{{ end }}">Read more <span class="govuk-visually-hidden">about this topic</span></a>
        </li>
    </ul>
  </footer>
</article>
