{{ block "top_of_page" . }}{{ end }}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ .Site.Params.html_lang | default "en" }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ .Site.Params.html_lang | default "en" }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ block "page_title" . }}GOV.UK - The best place to find government services and information{{ end }}</title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="/stylesheets/govuk-template.css?0.24.0"/><!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="/stylesheets/govuk-template-ie6.css?0.24.0"/><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="/stylesheets/govuk-template-ie7.css?0.24.0"/><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="/stylesheets/govuk-template-ie8.css?0.24.0"/><![endif]-->
    <link rel="stylesheet" media="print" href="/stylesheets/govuk-template-print.css?0.24.0"/>

    <link rel="stylesheet" media="all" href="/stylesheets/fonts.css?0.24.0"/>
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.24.0"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.24.0" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.24.0" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.24.0">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.24.0">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.24.0">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png?0.24.0">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ block "head" . }}
		<link rel="stylesheet" media="all" href="/stylesheets/all.css"/>
		{{ end }}


    <meta property="og:image" content="/images/opengraph-image.png?0.24.0">
  </head>

  <body class="{{ block "body_classes" . }}{{ end }}">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    {{ block "body_start" . }}{{ end }}

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">{{ .Site.Params.skip_link_message | default "Skip to main content" }}</a>
      </div>
    </div>

    <div id="global-cookie-message">

        {{ block "cookie_message" . }}{{ end }}

    </div>


    <header role="banner" id="global-header" class="{{ block "header_class" . }}{{ end }} with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="{{ .Site.Params.homepage_url | default "https://www.gov.uk" }}" title="{{ .Site.Params.logo_link_title | default "Go to the GOV.UK homepage" }}" id="logo" class="content">
              <img src="/images/gov.uk_logotype_crown_invert_trans.png?0.24.0" width="36" height="32" alt=""> {{ .Site.Params.global_header_text | default "GOV.UK" }}
            </a>
          </div>
          {{ block "inside_header" . }}{{ end }}
        </div>
        {{ block "proposition_header" . }}
			  <div class="header-proposition">
			    <div class="content">
			      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
			      <nav id="proposition-menu">
			        <a href="/" id="proposition-name">
			          {{ block "service_name" . }}
			            {{ if isset .Site.Params "servicename" }}{{ .Site.Params.servicename }}{{ end }}
			          {{ end }}
			        </a>

			        {{ partial "proposition-links.html" . }}

			      </nav>
			    </div>
			  </div>
				{{ end }}
      </div>
    </header>


    {{ block "after_header" . }}{{ end }}

    <div id="global-header-bar"></div>

    <div class="govuk-width-container">
      {{ partial "phase_banner_prototype.html" . }}
    </div>


    {{ block "content" . }}
		<div id="content" class="govuk-width-container">
      {{ partial "breadcrumbs.html" . }}
      <main class="govuk-main-wrapper">
			{{ block "content_inner" . }}{{ end }}
      </main>
		</div>
		{{ end }}

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        {{ block "footer_top". }}{{ end }}

        <div class="footer-meta">
          <div class="footer-meta-inner">
            {{ block "footer_support_links" . }}
            <ul>
                <li>This site has been built using <a href="https://github.com/digital-land">open source</a> software, contributions are welcome.
            </ul>
            {{ end }}
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                {{ block "licence_message" . }}<p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>{{ end }}

            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">{{ .Site.Params.crown_copyright_message | default "&copy; Crown copyright" | safeHTML }}</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.24.0"></script>

    {{ block "body_end" . }}{{ end }}


    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
