{{ define "head" }}
    <link rel="stylesheet" media="all" href="/stylesheets/dl-frontend.css" />
    {{ with $.Parent.OutputFormats.Get "rss" -}}
      <link rel="{{ .Rel }}" type="application/rss+xml" href="{{ .Permalink }}" title="{{ $.Parent.Title | safeHTML }} - {{ $.Site.Title | safeHTML }}" />
    {{ end -}}
{{ end }}

{{ define "content_inner" }}

  <div class="govuk-grid-row">
    <article class="blog-post govuk-grid-column-two-thirds">
      <header>
        <span class="govuk-caption-xl">{{ .Section | humanize }}</span>
        <h1 class="govuk-heading-xl">
          {{ .Title }}
        </h1>
        <p class="byline author vcard">
          <span class="govuk-visually-hidden">Posted by:</span>
          <span class="author url fn" rel="author">{{ .Params.author }}</span>,
          <span class="govuk-visually-hidden">Posted on:</span>
          <time class="updated" datetime="{{ .Date }}" pubdate="">{{ .Date.Format "2 January 2006" }}</time>
          {{ partial "byline-related.html" . }}
        </p>
      </header>
      <div class="markdown-output">
        {{ .Content }}
      </div>
    </div>
  </div>

{{ end }}
