{{ define "content_inner" }}
<main id="content" role="main">

	{{ partial "breadcrumbs.html" . }}

	<h1 class="heading-xlarge">
	  <span class="heading-secondary">{{ .Section | humanize }}</span>
	  {{ .Title }}
	</h1>

 

	<h3 class="heading-medium">Example use cases/projects</h3>
  <ul class="list-bullet">
		{{ range .Data.Pages }}
	  	<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
	  {{ end }}
  </ul>
	
	{{ range where .Site.Pages "Params.patterns" "notices" }}
		{{ . }}
	{{ end }}

<h2 class="heading-large">Useful data</h2>
<ul>
{{ range .Params.datasets }}
	<li><a href="{{ .url }}">{{ .name }}</a></li>
{{ end }}
</ul>
</main>
{{ end }}