// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import all the govuk-elements partials listed in _govuk-elements.scss
@import "govuk-elements";

// Import all project components
@import "components/hero";


.full-page-width-container {
	@extend %site-width-container;
}

#content img {
	max-width: 100%;
}


.project-display {
	.project-display__title {
		text-align: center;
		margin-top: 5px;
	}
}