// set up constants and imports
$govuk-fonts-path: "/govuk-frontend/assets/fonts/";
$govuk-images-path: "/govuk-frontend/assets/images/";

@import "settings/all";
@import "tools/all";
@import "helpers/all";

@import "core/all";
@import "objects/all";

@import "components/all";

@import "utilities/all";
@import "overrides/all";

// common fixes when using helvetica
// needs to come before components
@import "core/helvetica-fixes";

// Import all project components
@import "project-components/page-feedback";
@import "project-components/blockquote";
@import "project-components/hero";
@import "project-components/definition-list";
@import "project-components/tags";
@import "project-components/highlight-box";

@import "project-components/prototype-tracking";

@import "project-components/contents";
@import "project-components/markdown";

@import "project-components/pagination";

* {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif !important;
}

// =====================
// Hacks: or things I can't find in GOVUK design system
// =====================
.govuk-body,
.govuk-body-l {
  max-width: 30em;
}

// =====================
// Project scss
// =====================

// sass-lint:disable no-ids
#content img {
  max-width: 100%;
}

.heading-flush {
  margin-top: 0;
  padding-top: govuk-em(5, 16);
  border-top: 5px solid govuk-colour("blue");
  @include govuk-media-query($from: tablet) {
    padding-top: govuk-em(8, 19);
  }
}

.small {
  font-weight: normal;
  @include govuk-font($size: 19);
}

.project-display {
  .project-display__title {
    margin-top: 5px;
    text-align: center;
	}
}

.project-meta-data {
  margin-bottom: govuk-em(30, 16);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-em(30, 19);
  }
}

.pattern-display {
  @include govuk-responsive-margin(6, "bottom");
}

.pattern-display-single {
  max-width: 150px;
  border-radius: 5%;
  background: govuk-colour("grey-3");
}

.pattern-icon {
  max-width: 200px;
  border-radius: 5%;
  background: govuk-colour("grey-3");
}

.pattern-page-header {
  @include govuk-responsive-margin(6, "bottom");
}

.project-page-section {
  @include govuk-responsive-margin(6, "top");
}

.prototype-update-container {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  border-bottom: 1px solid govuk-colour("grey-2");

  ul:last-child {
    margin-bottom: 0;
  }

  &:first-of-type {
    @include govuk-responsive-margin(3, "top");
  }

  &:last-child {
    border-bottom: 0;
  }
}

.prototype-summary {
  @include govuk-responsive-padding(6, "top");

  .prototype-summary--heading {
    margin-top: 0;

    a {
      color: $govuk-text-colour;
    }
  }

  .prototype-progress-flag {
    display: inline-block;
    margin-bottom: 5px;
  }
}

// Guidance specific scss
.column-guidance-container {
  @include govuk-responsive-margin(6, "bottom");

  .column-heading {
    @include govuk-font($size: 19);
    margin-bottom: 5px;
  }

  p {
    margin-top: 5px;
  }
}

.tech-block {
  padding: 15px;
  overflow: auto;
  border: 1px solid govuk-colour("grey-2");
  border-radius: 1px;
  background: ("grey-4");

  code {
    // sass-lint:disable no-misspelled-properties no-duplicate-properties
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    -ms-word-break: break-all;
    overflow-wrap: break-word;
  }
}

.blog-post {
  .byline {
    color: govuk-colour("grey-1");
  }

  footer a {
    font-weight: bold;
  }
}

.blog-post-preview {
  padding: 30px 0;
  border-top: 1px solid govuk-colour("grey-2");

  h2 {
    margin-bottom: 0;
  }
}

// Smaller previews when inside a "content" area.
.markdown-output > .blog-post-preview {
  margin-top: 3em;
  padding: 0;
  border-top: 0;

  h2 {
    // Sizing rules nabbed from %govuk-heading-m
    @include govuk-font($size: 24, $weight: bold);
    @include govuk-responsive-margin(4, "bottom");
  }

  .byline {
    @include govuk-font($size: 16); // go back down from larger `.markdown-output p` font-size
    max-width: none;
  }

  .byline__relations,
  footer {
    display: none;
  }
}
