  <li class="dlf-pagination__item dlf-pagination__item--previous">
    <a href='{{ ref . (.Get "href") }}' class="dlf-pagination__link" rel="prev">
      <span class="dlf-pagination__link-title">
        <svg class="dlf-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
          <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="dlf-pagination__link-text">
          Previous
        </span>
      </span>
        <span class="dlf-pagination__link-divider visually-hidden">:</span>
        <span class="dlf-pagination__link-label">{{ .Get "text" }}</span>
    </a>
  </li>