{{ define "content_inner" }}
  <main class="govuk-main-wrapper">

    <span class="govuk-caption-xl">{{ if isset .Params "cat_name" }}{{ .Params.cat_name | humanize }}{{ end }}</span>
  	<h1 class="govuk-heading-xl">
  	  {{ .Title }}
  	</h1>

  	<div class="govuk-grid-row">
  		<div class="govuk-grid-column-two-thirds">
  			<p class="govuk-body-l">{{ .Summary }}</p>
  		</div>
  	</div>
	
  	<div class="govuk-grid-row">
      <ul class="govuk-list ">

        {{ range $name, $pagelist := $.Site.Taxonomies.patterns }}
        <li class="govuk-grid-column-one-half">
          {{ $a := $.Site.GetPage "taxonomyTerm" $name }}
          <h3 class="govuk-heading-m"><a href="{{ $a.Permalink }}">{{ $a.Title | humanize }}</a></h3>
          <ul class="govuk-list govuk-list--bullet">
          {{ range $pagelist }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
  	</div>

</main>

{{ end }}