{{ define "content_inner" }}

	<h1 class="heading-xlarge">
		<span class="heading-secondary">{{ if isset .Params "cat_name" }}{{ .Params.cat_name | humanize }}{{ end }}</span>
	  {{ .Title }}
	</h1>

	<div class="grid-row">
		<div class="column-two-thirds">
			<p class="lede">{{ .Summary }}</p>
		</div>
	</div>
	
	<ul class="grid-row">

      {{ range $name, $pagelist := $.Site.Taxonomies.patterns }}
      <li class="column-half">
        {{ $a := $.Site.GetPage "taxonomyTerm" $name }}
        <h3 class="heading-medium"><a href="{{ $a.Permalink }}">{{ $a.Title | humanize }}</a></h3>
        <ul class="list-bullet">
        {{ range $pagelist }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </li>
      {{ end }}

	</ul>

{{ end }}