{{ define "content" }}

	<main id="content" role="main">

		<h1 class="heading-xlarge">
		  {{ .Title }}
		</h1>

		<div class="grid-row">
			<div class="column-two-thirds">
				<p class="lede">{{ .Summary }}</p>
			</div>
		</div>
		
		<ul class="grid-row">
			{{ range ($.Site.GetPage "section" "pattern").Pages }}
			<li class="column-half">
				<h3 class="heading-medium"><a href="{{ .Permalink }}">{{ .Title | humanize }}</a></h3>
				<ul class="list-bullet">
				{{ $pattern := .Title }}
				{{ range ($.Site.GetPage "section" "project").Pages }}
					{{ if in .Params.patterns $pattern }}
						<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end }}
				{{ end }}
				</ul>
			</li>
			{{ end }}

		</ul>

	</main>

{{ end }}